.symbolsCardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 15px;
    background-color: #e2e0e0;
    padding: 25px;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.symbolsCardGrid::-webkit-scrollbar {
    display: none;
  }


@media (max-width: 1023px) {
    .symbolsCardGrid {
      height: 55vh;
    }
  }